body{
  background-color: #E5E5E5;
}
#pojemnik{
	width: 100%;
}
#towar{font-size: 18px; width: 90%;}
#faktura{font-size: small; width: 50%;}

#form{
	float: left;
	
}

label .lab {
	float: left;
	
  	padding-right: 0.3em;
	font-size: 18px;
}


input [type="text"]{
	float: right;
	width: 50%;
	display: block;
}

#indeksT{width: 150px;}
#nazwaT{width:450px;}
#jm{width: 100px;}
#ilosc{width: 100px;}
#cena{width: 100px;}
#vat{width: 100px;}
#pkwiu{width: 100px;}
#cena_brutto{width: 100px;}
#kodKT{width: 150px;}
#stan_mag{width:100px; }
#data_zak{width: 100px;}

input[type=text]:focus {
  background-color: lightblue;
}
.btn{
	float: right;
background-color: #7F7F7F;
}
button{background-color: #B8ABAB; }
.ui-autocomplete { height: 160px; overflow-y: scroll; overflow-x: hidden;}
.ui-autocomplete-input{font-size: large;}

#przerwa{height: 20px; background-color: #BFBFBF;}