body{
  background-color: #E5E5E5;
}
#pojemnik{
	height: 250px;
	width: 100%;
	border-color: #FF0000;
}
#towar{font-size: small; width: 90%;}
#faktura{font-size: small; width: 50%;}

#form{
	float: left;
	
}
#content{height:150px; width:50%; background-color:pink; }


label .lab {
	float: left;
	padding-top: 1em;
  	padding-left: 1em;
	font-size: 25px;
	margin-left: 15px;
}


input [type="text"]{
	float: right;
	width: 50%;
	display: block;
	padding-top: 1em;
	margin:30px 5px 10px 5px;
}

#indeksT{width: 150px; }
#nazwaT{width:450px;}
#jm{width: 100px;}
#ilosc{width: 100px; padding-left:2em;}
#cena{width: 100px;}
#vat{width: 100px;}
#pkwiu{width: 100px;}
#cena_brutto{width: 100px;}
#kodKT{width: 150px;}
#stan_mag{width:100px; }
#data_zak{width: 100px;}

input[type=text]:focus {
  background-color: #ADD8E6;
}
.btn{
	float: right;
background-color: #7F7F7F;
}
button{background-color: #B8ABAB; margin-top: 25px; }
.ui-autocomplete { height: 350px; overflow-y: scroll; overflow-x: hidden;}
.ui-autocomplete-input{font-size: 18px;}

#przerwa{height: 20px; background-color: #BFBFBF;}

#faktura{height: 50px; width: 100%;border-style: solid; border-color: #7F7F7F; }
#nr_faktury{width: 150px; margin:10px 5px 10px 5px; }
#data_zak{width: 180px;}
#id_f{width: 150px;}
#indeksD{width: 150px;}
#nazwa1{width: 250px;}
